node_modules/

# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore VSCode settings
.vscode/

# Ignore macOS system files
.DS_Store

# Ignore environment files
.env

# Ignore other potential files
*.log
